img{ max-width: 100%; }

video{max-width: 100%;}


div{width:60%;
    margin-left:auto;
    margin-right:auto;
}

body{ background-color: bisque;
      background-image:url("./folha\ de\ outono\ .png");  
}